@model IEnumerable<YourSquare1.Models.Advertisment>

@{
    ViewData["Title"] = "Index";
}

<h3>Wyszukiwarka</h3>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="form-inline">
            Szukaj po adresie: <input type="text" class="form-control" name="SearchString" placeholder="Adres" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Szukaj po adresie" class="btn btn-primary" />
            <a asp-action="Index"><input type="submit" value="Wróć do pełnej listy" class="btn btn-default" /></a>
        </p>
    </div>
</form>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="form-inline">
            Szukaj po kwocie: 
            <input type="number" placeholder="Min" name="minimumPrice" class="form-control" value="@ViewData["MinimumPrice"]" />
            <input type="number" placeholder="Max" name="maximumPrice" class="form-control" value="@ViewData["MaximumPrice"]" />
            <input type="submit" value="Szukaj w przedziale" class="btn btn-primary" />
            <a asp-action="Index"><input type="submit" value="Wróć do pełnej listy" class="btn btn-default" /></a>
        </p>
    </div>
</form>

<hr />

<h2>Tablica ogłoszeń</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Opis
            </th>
            <th>
                Dodatkowe wyposażenie
            </th>
            <th>
                Cena
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LocalizationSortParam"]"><span style="color: #13a57b;">Adres</span></a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalEquipmentDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID"><input type="submit" value="Szczegóły" class="btn btn-deafult details" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
