@model YourSquare1.Models.Advertisment

<h2>Szczegóły</h2>

<div>
    <h4>Szczegóły ogłoszenia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Dod. wyposażenie
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalEquipmentDescription)
        </dd>
        <dt>
            Cena
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Adres
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            Wystawiający
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdvertismentCreator.Name)
            @Html.DisplayFor(model => model.AdvertismentCreator.Surname)
        </dd>
    </dl>
</div>